<div style="text-align:center">
  <img src="assets/img/background_csgo.jpg" class="img-fluid background-csgo" alt="csgo background">
  <div class="container-fluid tournament-background">
    <div class="container">
      <div class="row">
          <div class="live-left">
            <div class="live-border">
              <img src="assets/img/live.png" class="img-fluid live-icon" alt="live icon">
              <span class="live-title">En Cours</span>
            </div>
            <encounter-component team1Score="1" team2Score="2" idMatch="1"></encounter-component>
          </div>
        <div class="col-xl-8 col-sm-7 col-md-6">
          <div class="live-left">
            <div class="live-border">
              <img src="assets/img/live.png" class="img-fluid live-icon" alt="live icon">
              <span class="live-title">En Cours</span>
            </div>
            <ul>
              <li>
                <span>
								<img src="assets/img/kill-one.png" alt="">
							</span>
                <span>vs1</span>
                <span>
								<img src="assets/img/kill-two.png" alt="">
							</span>
              </li>
              <li>
									<span>
								<img src="assets/img/kill-three.png" alt="">
							</span>
                <span>vs</span>
                <span>
								<img src="assets/img/kill-four.png" alt="">
							</span>
              </li>
              <li>
									<span>
								<img src="assets/img/kill-five.png" alt="">
							</span>
                <span>vs</span>
                <span>
								<img src="assets/img/kill-six.png" alt="">
							</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-4 col-sm-5 col-md-6">
          <div class="recent-match-right">
            <h3 class="title-recent-match-right">Matchs Récents</h3>
            <ul>
              <li>
									<span>
								<img src="assets/img/kill-one.png" alt="">
							</span>
                <span>vs</span>
                <span>
								<img src="assets/img/kill-two.png" alt="">
							</span>
              </li>
              <li>
									<span>
								<img src="assets/img/kill-three.png" alt="">
							</span>
                <span>vs</span>
                <span>
								<img src="assets/img/kill-four.png" alt="">
							</span>
              </li>
              <li>
									<span>
								<img src="assets/img/kill-five.png" alt="">
							</span>
                <span>vs</span>
                <span>
								<img src="assets/img/kill-six.png" alt="">
							</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row tournament-list">
          <div class="col-lg-12">
            <h3 class="title-tournament-list">Tournois</h3>
            <div class="all-tournament" *ngFor="let tournament of tournaments" scope="row">
              <div class="">{{ tournament.name }}</div>
              <span class="">{{ tournament.arena.town }}</span>
              <span class="">{{ tournament.arena.name }}</span>
              <span class="">{{ tournament.cashprize }}$</span>
              <span class="">{{ tournament.sponsor }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
