<div class="container mt-5" *ngIf="isArenaDataLoaded && isTeamDataLoaded && isUserDataLoaded">
    <h1 class="display-3 text-white">Création d'un tournoi</h1>
    <form class="mt-3" [formGroup]="createTournamentForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="text-white">Arène</label>
                <app-input-drop-down [dataList]="arenaList" [columnName]="'name'" [placeholder]="'Entrer une arène'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'arenaName'" [isSubmitted]="submitted"
                                     [errorText]="'arène'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-group">
            <label class="text-white">Nom</label>
            <input type="text" class="form-control" formControlName="name" aria-describedby="nameHelp"
                   placeholder="Entrer un nom" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Le nom est nécessaire</div>
            </div>
        </div>
        <div class="form-group">
            <label class="text-white">Récompense</label>
            <input type="number" class="form-control" formControlName="cashprize" aria-describedby="cashprizeHelp"
                   placeholder="Entrer une récompense">
        </div>
        <div class="form-group">
            <label class="text-white">Sponsor</label>
            <input type="text" class="form-control" formControlName="sponsor" aria-describedby="sponsorHelp"
                   placeholder="Entrer un sponsor">
        </div>
        <br>
        <br>
        <h1 class="display-3 text-white">1/8 de finale</h1>
        <label class="text-white"><b>1er Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match1_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match1_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control" formControlName="dt1"
                       aria-describedby="dt1Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt1.errors }">
                <div *ngIf="submitted && f.dt1.errors" class="invalid-feedback">
                    <div *ngIf="f.dt1.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt1></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map1" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map1.errors }">
                <div *ngIf="submitted && f.map1.errors" class="invalid-feedback">
                    <div *ngIf="f.map1.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee1'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>2ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match2_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match2_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" class="form-control" formControlName="dt2"
                       aria-describedby="dt2Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt2.errors }">
                <div *ngIf="submitted && f.dt2.errors" class="invalid-feedback">
                    <div *ngIf="f.dt2.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt2></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map2" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map2.errors }">
                <div *ngIf="submitted && f.map2.errors" class="invalid-feedback">
                    <div *ngIf="f.map2.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee2'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>3ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match3_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match3_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" class="form-control" formControlName="dt3"
                       aria-describedby="dt3Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt3.errors }">
                <div *ngIf="submitted && f.dt3.errors" class="invalid-feedback">
                    <div *ngIf="f.dt3.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt3></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map3" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map3.errors }">
                <div *ngIf="submitted && f.map3.errors" class="invalid-feedback">
                    <div *ngIf="f.map3.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee3'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>4ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match4_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match4_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" class="form-control" formControlName="dt4"
                       aria-describedby="dt4Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt4.errors }">
                <div *ngIf="submitted && f.dt4.errors" class="invalid-feedback">
                    <div *ngIf="f.dt4.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt4></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map4" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map4.errors }">
                <div *ngIf="submitted && f.map4.errors" class="invalid-feedback">
                    <div *ngIf="f.map4.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee4'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>5ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match5_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match5_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" class="form-control" formControlName="dt5"
                       aria-describedby="dt5Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt5.errors }">
                <div *ngIf="submitted && f.dt5.errors" class="invalid-feedback">
                    <div *ngIf="f.dt5.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt5></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map5" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map5.errors }">
                <div *ngIf="submitted && f.map5.errors" class="invalid-feedback">
                    <div *ngIf="f.map5.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee5'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>6ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match6_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match6_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6" class="form-control" formControlName="dt6"
                       aria-describedby="dt6Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt5.errors }">
                <div *ngIf="submitted && f.dt6.errors" class="invalid-feedback">
                    <div *ngIf="f.dt6.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt6></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map6" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map6.errors }">
                <div *ngIf="submitted && f.map6.errors" class="invalid-feedback">
                    <div *ngIf="f.map6.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee6'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>7ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match7_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match7_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7" class="form-control" formControlName="dt7"
                       aria-describedby="dt7Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt7.errors }">
                <div *ngIf="submitted && f.dt7.errors" class="invalid-feedback">
                    <div *ngIf="f.dt7.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt7></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map7" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map7.errors }">
                <div *ngIf="submitted && f.map7.errors" class="invalid-feedback">
                    <div *ngIf="f.map7.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee7'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <br>
        <label class="text-white"><b>8ème Match</b></label>
        <div class="form-row">
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match8_1'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
            <div class="form-group ml-3 mr-3 mt-1 text-white">vs</div>
            <div class="form-group">
                <app-input-drop-down [dataList]="teamList" [columnName]="'name'" [placeholder]="'Entrer une équipe'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'match8_2'" [isSubmitted]="submitted"
                                     [errorText]="'équipe'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Heure de début</label>
                <input [min]="min" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8" class="form-control" formControlName="dt8"
                       aria-describedby="dt8Help" placeholder="Entrer une heure de début"
                       [ngClass]="{ 'is-invalid': submitted && f.dt8.errors }">
                <div *ngIf="submitted && f.dt8.errors" class="invalid-feedback">
                    <div *ngIf="f.dt8.errors.required">L'heure de début est nécessaire</div>
                </div>
                <owl-date-time #dt8></owl-date-time>
            </div>
            <div class="form-group ml-5">
                <label class="text-white">Carte</label>
                <input type="text" class="form-control" formControlName="map8" aria-describedby="mapHelp"
                       placeholder="Entrer un nom de carte" [ngClass]="{ 'is-invalid': submitted && f.map8.errors }">
                <div *ngIf="submitted && f.map8.errors" class="invalid-feedback">
                    <div *ngIf="f.map8.errors.required">Le nom de la carte est nécessaire</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="text-white">Référent</label>
                <app-input-drop-down [dataList]="userList" [columnName]="'username'" [placeholder]="'Entrer un référent'"
                                     [inputDropDownFormGroup]="createTournamentForm"
                                     [inputDropDownFormControlName]="'referee8'" [isSubmitted]="submitted"
                                     [errorText]="'référent'"></app-input-drop-down>
            </div>
        </div>
        <div class="form-group mt-3">
            <button class="btn btn-primary">Créer le tournoi</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
