ul.list {
    list-style-type: none;
}

.live-border {
    padding: 25px;
    border: grey solid 1px;
    margin-bottom: 1%;
}

.live-left {
    margin-top: 2%;
}

.live-left ul li span {
    width: 32%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.live-left ul {
    border: grey solid 1px;
    padding: 22px 220px;
}

.live-left ul li span:first-child {
    background: #161616;
    padding: 10px;
    border: grey solid 1px;
}

.live-left ul li span:last-child {
    background: #161616;
    padding: 10px;
    border: grey solid 1px;
}

.live-left img {
    max-width: 100%;
}

.tournament-list {
    background: #131325;
    color: white;
}

.title-tournament-list {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 30px;
    border: grey solid 1px;
    color: white;
}

.all-tournament {
    border: grey solid 1px;
}

.scores {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    border-bottom: 3px solid white;
}
