<div style="text-align:center">
  <img src="assets/img/background_csgo.jpg" class="img-fluid background-csgo" alt="csgo background">
  <div class="container-fluid tournament-background">


    <div class="row justify-content-md-center">
      <div class="col-md-auto live-container">
        <img src="assets/img/live.png" class="img-fluid live-icon" alt="live icon">
        <span class="live-title">En Cours</span>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <ul>
        <li>
            <span>
              <img src="media/logo/kill-one.png" alt="">
            </span>
          <span>vs</span>
          <span>
              <img src="media/logo/kill-two.png" alt="">
          </span>
        </li>
        <li>
          <span>
            <img src="media/logo/kill-three.png" alt="">
          </span>
          <span>vs</span>
          <span>
            <img src="media/logo/kill-four.png" alt="">
          </span>
        </li>
        <li>
          <span>
            <img src="media/logo/kill-five.png" alt="">
          </span>
          <span>vs</span>
          <span>
            <img src="media/logo/kill-six.png" alt="">
          </span>
        </li>
      </ul>
    </div>


    <!--<ul class="tournaments">
      <table class="table table-dark">
        <tr>
          <th>Nom</th>
          <th>Ville</th>
          <th>Arène</th>
          <th>Cashprize</th>
          <th>Sponsor</th>
        </tr>
        <tr *ngFor="let tournament of tournaments" scope="row">
          <td class="">{{ tournament.name }}</td>
          <td class="">{{ tournament.arena.town }}</td>
          <td class="">{{ tournament.arena.name }}</td>
          <td class="">{{ tournament.cashprize }}$</td>
          <td class="">{{ tournament.sponsor }}</td>
        </tr>
      </table>
    </ul>-->
  </div>
</div>
